<div class="d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <form
      (submit)="onSavePost(postForm)"
      #postForm="ngForm">
      <div class="form-group">
        <label for="title">Post Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          [ngModel]="post?.title"
          required
          #title="ngModel">
      </div>
      <div class="form-group">
        <label for="content">Post Content</label>
        <textarea
          class="form-control"
          rows="6"
          name="content"
          [ngModel]="post?.content"
          required
          #content="ngModel">
        </textarea>
      </div>
      <button
        class="btn btn-primary"
        type="submit">Save Post</button>
    </form>
  </div>
</div>