:host {
  display: block;
  margin-top: 1rem;
}

accordion-group {
  margin-bottom: 0.25rem;
}

.info-text {
  text-align: center;
}

.btn-right {
  float: right;
  margin-bottom: 2.5rem;
  margin-left: 0.5rem;
}

a {
  text-decoration: none;
}