<!-- if posts -->
<accordion
  *ngIf="posts.length > 0"
  [isAnimated]="true">
  <accordion-group
    *ngFor="let post of posts"
    heading="{{ post.title }}"
    id="{{ post. id }}">
    <p>{{ post.content }}</p>
    <hr>
    <button class="btn btn-danger btn-right" (click)="onDelete(post.id)">Delete Post</button>
    <button class="btn btn-warning btn-right">
      <a [routerLink]="['/edit', post.id]">Edit</a>
    </button>
    <!-- The button text is white! -->
    <!-- <button class="btn btn-warning btn-right">Compare</button> -->
  </accordion-group>
</accordion>

<!-- if !posts -->
<p class="info-text" *ngIf="posts.length <= 0">No posts to read.</p>