:host {
  display: block;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

accordion-group {
  margin-bottom: 0.25rem;
}

.info-text {
  text-align: center;
}

.btn-right {
  float: right;
  margin-bottom: 2.5rem;
  margin-left: 0.5rem;
}

.spinner-border {
  height: 3rem;
  width: 3rem;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}